<?xml version="1.0" encoding="utf-8"?>
<MsgrConfig>
    <Simple>
        <Config>
            <ExpiresInDays>0</ExpiresInDays>
        </Config>
        <P2PConfig>
            <ObjectStore>
                <SendDelay>1</SendDelay>
            </ObjectStore>
        </P2PConfig>
        <DisablePhoneDialer>1</DisablePhoneDialer>
        <GetItemVersionForUnknown>false</GetItemVersionForUnknown>
        <MinFlashPlayer BuildNumber="28" MajorVersion="9" MinorVersion="0"/>
        <Relay>
            <Enabled>0</Enabled>
            <MaxCallLength>0</MaxCallLength>
        </Relay>
        <Contacts>
            <Client ZombieServerDetectDelay="1800" ZombieServerDetectInterval="30" ZombieServerDetectResumeDelay="1800"/>
            <Server ZombieServerDetectDelay="900" ZombieServerDetectResumeDelay="900" ZombieServerDetectConnectDelay="900" ZombieServerDetectLongDelay="900"/>
        </Contacts>
        <TrustedDomains>
            <domain name="escargot.chat"/>
            <domain name="conf.escargot.chat"/>
            <domain name="apps.escargot.chat"/>
            <domain name="static.levelleap.com"/>
            <domain name="127.1.1.1"/>
            <domain name="aerochat-local.live"/>
        </TrustedDomains>
        <ErrorResponseTable>
            <Feature type="0" name="Login">
                <Entry hr="0x80004002" action="3"/>
                <Entry hr="0x80004004" action="3"/>
                <Entry hr="0x80004005" action="3"/>
                <Entry hr="0x8000402A" action="3"/>
                <Entry hr="0x8000FFFF" action="3"/>
                <Entry hr="0x8001012E" action="3"/>
                <Entry hr="0x80040200" action="3"/>
                <Entry hr="0x80048051" action="3"/>
                <Entry hr="0x80048820" action="3"/>
                <Entry hr="0x80048823" action="3"/>
                <Entry hr="0x80070002" action="3"/>
                <Entry hr="0x80070005" action="3"/>
                <Entry hr="0x8007000E" action="3"/>
                <Entry hr="0x80070057" action="3"/>
                <Entry hr="0x8007007E" action="3"/>
                <Entry hr="0x800702E4" action="3"/>
                <Entry hr="0x800706BA" action="3"/>
                <Entry hr="0x800706BE" action="3"/>
                <Entry hr="0x80071392" action="3"/>
                <Entry hr="0x80072745" action="3"/>
                <Entry hr="0x80072746" action="3"/>
                <Entry hr="0x80072EE2" action="3"/>
                <Entry hr="0x80072EF3" action="3"/>
                <Entry hr="0x80072EFD" action="3"/>
                <Entry hr="0x80072EFF" action="3"/>
                <Entry hr="0x80072F06" action="3"/>
                <Entry hr="0x80072F7D" action="3"/>
                <Entry hr="0x800C013E" action="3"/>
                <Entry hr="0x80191002" action="3"/>
                <Entry hr="0x81000306" action="3"/>
                <Entry hr="0x8100030D" action="3"/>
                <Entry hr="0x81000314" action="3"/>
                <Entry hr="0x81000362" action="3"/>
                <Entry hr="0x81000378" action="3"/>
                <Entry hr="0x81000395" action="3"/>
                <Entry hr="0x85AE000B" action="3"/>
                <Entry hr="0x85AE000F" action="3"/>
                <Entry hr="0x85AE001D" action="3"/>
                <Entry hr="0x85AE0022" action="3"/>
                <Entry hr="0x85AE0024" action="3"/>
                <Entry hr="0x85AE0027" action="3"/>
                <Entry hr="0x85AE003C" action="3"/>
                <Entry hr="0x85AE0053" action="3"/>
                <Entry hr="0x8E5E0152" action="3"/>
                <Entry hr="0x8E5E0158" action="3"/>
                <Entry hr="0x8E5E0211" action="3"/>
                <Entry hr="0x8E5E0220" action="3"/>
                <Entry hr="0x8E5E0226" action="3"/>
                <Entry hr="0x8E5E03FE" action="3"/>
                <Entry hr="0x8E5E0408" action="3"/>
                <Entry hr="0x8E5E05F6" action="3"/>
                <Entry hr="0x8E5E0710" action="3"/>
                <Entry hr="0x8E5E0713" action="3"/>
            </Feature>
            <Feature type="2" name="MapFile">
                <Entry hr="0x810003F1" action="3"/>
                <Entry hr="0x810003F6" action="3"/>
            </Feature>
            <Feature type="3" name="P2P">
                <Entry hr="0x82000016" action="3"/>
                <Entry hr="0x82000017" action="3"/>
                <Entry hr="0x82000019" action="3"/>
                <Entry hr="0x8200001b" action="3"/>
                <Entry hr="0x8200001d" action="3"/>
                <Entry hr="0x8200001e" action="3"/>
                <Entry hr="0x82000024" action="3"/>
                <Entry hr="0x82000026" action="3"/>
            </Feature>
        </ErrorResponseTable>
        <USBDevices>
            <Device VID="0x045e" PID="0x0719"/>
            <Device VID="0x045e" PID="0x0722"/>
            <Device VID="0x041e" PID="0x4080"/>
        </USBDevices>
        <VoiceVideo>
            <Log PeerLogDisable="0"/>
        </VoiceVideo>
        <CirclesWeb General="https://escargot.chat/groups/$CIRCLECID$/members/" Files="https://escargot.chat/groups/$CIRCLECID$/members/" Leave="https://escargot.chat/groups/$CIRCLECID$/members/" Managment="https://escargot.chat/groups/$CIRCLECID$/members/" Membership="https://escargot.chat/groups/$CIRCLECID$/members/" Photos="https://escargot.chat/groups/$CIRCLECID$/members/" Disc="https://escargot.chat/discord/?ref=circ-$CIRCLECID$"/>
        <AnonymousIMSettings>
            <SettingsPage URL="http://settings.messenger.live.com/applications/WebSettings.aspx"/>
        </AnonymousIMSettings>
    </Simple>
    <TabConfig>
        <msntabsettings>
            <oemtotallimit>1</oemtotallimit>
            <oemdisplaylimit>1</oemdisplaylimit>
        </msntabsettings>
    </TabConfig>
    <AbchCfg>
        <abchconfig>
            <url>https://msnmsgr.escargot.chat/abservice/abservice.asmx</url>
        </abchconfig>
    </AbchCfg>
    <LocalizedConfig Market="en-US">
        <DynamicContent>
            <mixed>
                <winks2>
                    <providersiteid>60971</providersiteid>
                    <providerurl>http://apps.escargot.chat/content/winks/</providerurl>
                    <slots>
                        <URL id="1">http://apps.escargot.chat/content/winks/?id=screen-punch</URL>
                        <URL id="2">http://apps.escargot.chat/content/winks/?id=sup-dawg</URL>
                        <URL id="3">http://apps.escargot.chat/content/winks/?id=flower-fart</URL>
                        <URL id="4">http://apps.escargot.chat/content/winks/?id=sup-dawg</URL>
                        <URL id="5">http://apps.escargot.chat/content/winks/?id=pc-explosion</URL>
                        <URL id="6">http://apps.escargot.chat/content/winks/?id=smiley-faces</URL>
                        <URL id="7">http://apps.escargot.chat/content/winks/?id=break-dancer</URL>
                        <URL id="8">http://apps.escargot.chat/content/winks/?id=bugs-bunny</URL>
                    </slots>
                </winks2>
            </mixed>
        </DynamicContent>
        <AdMainConfig>
            <TextAdRotation>419</TextAdRotation>
            <TextAdRefresh>1</TextAdRefresh>
            <TextAdServer>https://127.1.1.1/advertisements/text/</TextAdServer>
            <AdBanner20URL Refresh="120">http://127.1.1.1/advertisements/static/banner/?id=$PUID$</AdBanner20URL>
            <StdAd AdVisible="120" VideoVisible="30" VideoDldIntvl="30">
                <VideoFeeds FeedsListURL="http://127.1.1.1/advertisements/video-feeds"/>
            </StdAd>
        </AdMainConfig>
        <AppDirConfig>
            <AppDirPageURL>http://apps.escargot.chat/activities/directory/</AppDirPageURL>
            <AppDirSeviceURL>http://apps.escargot.chat/activities/service/</AppDirSeviceURL>
            <AppDirVersionURL>http://apps.escargot.chat/activities/version/</AppDirVersionURL>
        </AppDirConfig>
        <Contacts>
            <ABPendingRequests>
                <height>672</height>
                <IncludeSNRequests>true</IncludeSNRequests>
                <width>808</width>
                <urlcid>http://profile.live.com/invites</urlcid>
            </ABPendingRequests>
            <EditMyLiveContactProfile>
                <url>http://spaces.live.com/profile.aspx?action=edit&amp;mode=activecontacts&amp;mkt=en-us&amp;partner=Messenger</url>
            </EditMyLiveContactProfile>
            <EditMyProfile>
                <url>http://profile.live.com/details</url>
            </EditMyProfile>
            <Import>
                <url>http://cid-%1!16.16I64X!.profile.live.com/connect</url>
            </Import>
            <MessengerInvite>
                <url>https://profile.live.com/%1/connect/send?email=%2</url>
                <urlcid>https://profile.live.com/%1/connect/send?cid=%2</urlcid>
            </MessengerInvite>
            <Profile>
                <url>http://spaces.live.com/Profile.aspx?partner=Messenger&amp;mkt=en-us&amp;mem=%ls</url>
                <urlcid>http://spaces.live.com/Profile.aspx?partner=Messenger&amp;mkt=en-us&amp;cid=%ls</urlcid>
                <urlcid2>http://cid-%1!16.16I64X!.profile.live.com</urlcid2>
            </Profile>
            <SNInvites>
                <url>http://cid-%1.profile.live.com/connect/Messenger.aspx?Email=%2</url>
                <urlcid>http://cid-%1.profile.live.com/connect/Messenger.aspx?cid=0x%2</urlcid>
            </SNInvites>
            <ViewMapEnabled>true</ViewMapEnabled>
        </Contacts>
        <ContactCard>
            <AddToMySpaceSiteId>45930</AddToMySpaceSiteId>
            <AddToMySpaceUrl>http://spaces.msn.com/?addblogentry=true&amp;mkt=nl-nl</AddToMySpaceUrl>
            <ContactCardDisabled>false</ContactCardDisabled>
            <CreateSpaceSiteId>45930</CreateSpaceSiteId>
            <CreateSpaceUrl>http://spaces.msn.com/signup.aspx?mkt=nl-nl</CreateSpaceUrl>
            <GetItemVerUrl>http://storage.msn.com/storageservice/schematizedstore.asmx</GetItemVerUrl>
            <GetXmlFeedUrl>http://services.spaces.msn.com/contactcard/contactcardservice.asmx</GetXmlFeedUrl>
            <MySpaceSiteId>45930</MySpaceSiteId>
            <MySpaceUrl>http://spaces.msn.com/homepage.aspx</MySpaceUrl>
            <SpaceBaseSiteId>45930</SpaceBaseSiteId>
            <SpaceBaseUrl>http://spaces.msn.com</SpaceBaseUrl>
            <SpaceIntegrationEnabled>true</SpaceIntegrationEnabled>
        </ContactCard>
        <FlashUpgradeURL>https://wiki.nina.chat/wiki/Clients/Windows_Live_Messenger/Tutorial:Install_Flash</FlashUpgradeURL>
        <GLinkMarket v="en_us"/>
        <LiveFolders UpsellMessageId="1"/>
        <MessengerBlogURL>http://escargot.chat/news/</MessengerBlogURL>
        <MSNSearch>
            <DesktopInstallURL>https://www.google.com/search?q=$QUERY$&amp;source=durl</DesktopInstallURL>
            <ImagesURL>https://www.google.com/search?q=$QUERY$&amp;source=lnms&amp;tbm=isch</ImagesURL>
            <NearMeURL>https://www.google.com/search?q=$QUERY$&amp;source=nearme</NearMeURL>
            <NewsURL>https://www.google.com/search?q=$QUERY$&amp;source=lnms&amp;tbm=nws</NewsURL>
            <PeopleSearchURL>http://home.live.com/search?query=$QUERY$&amp;src=people</PeopleSearchURL>
            <SearchKidsURL>https://www.google.com/search?q=$QUERY$&amp;source=hp&amp;safe=active</SearchKidsURL>
            <SearchURL>https://www.google.com/search?q=$QUERY$&amp;ass=$FC$&amp;source=search</SearchURL>
            <SharedSearchURL>https://www.google.com/search?q=$QUERY$&amp;source=shared</SharedSearchURL>
            <SharedSearchURL2>https://www.google.com/search?q=$QUERY$&amp;source=shared2</SharedSearchURL2>
        </MSNSearch>
        <MsnTodayConfig>
            <MsnTodayURL>http://127.1.1.1:3000/</MsnTodayURL>
            <Flags>1</Flags>
        </MsnTodayConfig>
        <OneCare Enabled="0"/>
        <MusicIntegration URL="https://www.last.fm/search/tracks?q=$ARTIST$+$TITLE$"/>
        <PE Tracking=""/>
        <PremiumAV Visibility="1"/>
        <PSTNOut Hidden="0"/>
        <Marketplace>
            <General URL="http://www.microsoft.com/windowslivedevices/marketplace/default.aspx" />
            <Webcam URL="http://www.microsoft.com/windowslivedevices/marketplace/default.aspx" />
        </Marketplace>
        <ReportAbuse>
            <ReportAbuseSID/>
            <ReportAbuseURL>https://escargot.chat/support/report/</ReportAbuseURL>
        </ReportAbuse>
        <RL>
            <ViewProfileURL>http://g.msn.com/5meen_us/106?%1&amp;Plcid=%2!hs!&amp;%3&amp;Country=%4!hs!&amp;BrandID=%5&amp;passport=%6</ViewProfileURL>
        </RL>
        <SDrive Enabled="true"/>
        <TermsOfUse>
            <TermsOfUseSID>956</TermsOfUseSID>
            <TermsOfUseURL>https://escargot.chat/legal/terms/</TermsOfUseURL>
        </TermsOfUse>
        <VoiceClip Hidden="0"/>
        <VoiceVideo>
            <DisableSipProxyInviteTest>0</DisableSipProxyInviteTest>
            <DisableSipProxyCapability>0</DisableSipProxyCapability>
            <DisableSipProxyInvite>0</DisableSipProxyInvite>
            <DisableSipProxyCapability2>0</DisableSipProxyCapability2>
            <DisableSipProxyInvite2>0</DisableSipProxyInvite2>
        </VoiceVideo>
        <TabConfig>
            <RowNumber>3</RowNumber>
            <slots>
                {%0}
            </slots>
        </TabConfig>
    </LocalizedConfig>
</MsgrConfig>